.container {
    width: 300px;
    margin: 0 auto;
    text-align: center;
    font-family: Arial, sans-serif;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 7rem;
    background-color: #E9E9E9;
    border-radius: 10px;
    margin-bottom: 7rem;
    background-color: #E9E9E9;
    border-radius: 10px;
  }
  
  .amount {
    font-size: 1.7rem;
    font-weight: bold;
  }
  
  .withdraw {
    padding: 10px 20px;
    background-color: #C8D6B7; /* Green background */
    color: black;
    background-color: #C8D6B7; /* Green background */
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    margin-left: 10px;
    border-radius: 10px;
    font-weight: bold;
    margin-left: 10px;
    border-radius: 10px;
  }
  
  .buttons button {
    width: 100px;
    padding: 10px 0;
    margin: 5px;
    background-color: #F1F5EC; /* Light gray background */
    background-color: #F1F5EC; /* Light gray background */
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 2.7rem;
    margin-right: 2.7rem;
  }
  
  .buttons button:hover {
    background-color: #e0e0e0; /* Color change on hover */
  }
  .bidButton {
    padding: 5px 20px;
    background-color: #DEE7D2; /* Blue background */
    color: black;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 5rem; /* 왼쪽 버튼과의 여백 추가 */
    font-weight: bold;
    margin-left: 5rem; /* 왼쪽 버튼과의 여백 추가 */
    font-weight: bold;
  }
  
  .maxAmount {
    color: #9e9e9e; /* 연한 회색 */
    margin-bottom: 20px;
    font-size: 14px;
    text-align: left;
  }

  .divider {
    border-bottom: 1px solid #ccc;
}

.question {
  display: flex;
  align-items: center; /* 세로 중앙 정렬 */
  text-align: left; /* 텍스트를 왼쪽으로 정렬 */
  color: #666;
  flex-wrap: wrap; /* 줄 바꿈을 허용 */
}

.bidButton {
  padding: 5px 20px;
  background-color: #DEE7D2; /* Blue background */
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

@media (max-width: 570px) {
  .amount {
    font-size: 1rem;
    font-weight: bold;
    margin-left: 0.3rem;
  }
  .bidButton {
    padding: 5px 10px;
    margin-left: auto; /* "얼마에 살까요?" 텍스트 바로 오른쪽에 3rem 간격 */
  }
  .question{
    margin-left: 0.6rem;
  }
  .maxAmount{
    margin-left: 0.6rem;
  }
}

@media (max-width: 430px) {
  .buttons {
    display: flex;          /* Flexbox를 활성화 */
    justify-content: center; /* 요소들을 가운데 정렬 */
    flex-wrap: wrap;         /* 요소들이 여백을 초과하면 다음 줄로 이동 */
  }
  .buttons button {
    width: 10rem;           /* 버튼의 가로 길이 설정 */
    margin: 5px auto;       /* 위아래 마진은 5px, 좌우 마진은 자동으로 설정하여 중앙에 위치 */
  }
}