.circular-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: 2px solid transparent;
    border-radius: 15%;
    width: 100px;
    height: 100px;
    cursor: pointer;
  }
  

  @media (max-width: 630px) {
    .circular-button {
      width: 80px;
      height: 80px;
    }   
}

@media (max-width: 530px) {
  .circular-button {
    width: 60px;
    height: 60px;
  }
}

@media (max-width: 380px) {
  .circular-button {
    width: 50px;
    height: 50px;
  }
}


  
  .circular-button:hover {
    background-color: rgb(234, 242, 236);
  }

  .main-type:hover {
    background-color:hsla(84, 30%, 65%,1);
    transition: background-color 0.3s ease; /* 배경색이 서서히 변하도록 설정 */
}

  .circular-button.selected {
    background-color: rgb(234, 242, 236);
  }

  .button-font{
    font-size: 14px;
  }

  @media (max-width: 768px) {
    .button-font {
      font-size: 8px;
    }
}

  .category-image{
    width: 70%;
    height: auto;
  }