.hidden {
  display: none;
}

.img-upload-form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: .75rem .5rem;
}

/* 이미지 업로드 버튼 */
#img-upload-btnbox {
  width: 6rem;
  height: 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: .25rem;
  margin: 0;
  background-color: #e1e1e1;
  color: #666;
  font-size: small;
  cursor: pointer;
}

/* 업로드된 이미지 view */
.upload-img-box {
  display: inline-block;
  position: relative;
}

.upload-img-box .upload-img {
  width: 6rem;
  height: 6rem;
}

.upload-img-box .delete-btn {
  position: absolute;
  top: 0;
  right: 0;
  padding: .2rem;
  border-radius: 0%;
  font-size: 0;
  cursor: pointer;
}