#inputPagesBody {
  max-width: 940px;
  padding: 2.5em 1em;
}

.btnInlineGroup {
  display: flex;
  gap: 1em;
}

.justifyContentEnd {
  justify-content: end;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox  */
input[type='number'] {
  -moz-appearance: textfield;
}