.badge-space {
    margin-right: 0.5rem;
    font-weight: normal;
  }

.category-space {
    margin-right: 1rem;
  }

.text-space{
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.card-space {
    margin-top: 8px;
    margin-bottom: 13px;
  }

.card {
    border: none;
    border-radius: 15px;
    max-width: 540px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    
  }

.card-text{
  margin-bottom: 0;
}

  .card-body {
    padding-top:0;
    padding-bottom:0;
}

.card:hover {
    background-color: lightgray; 
  }

.card-link {
    text-decoration: none;
  }


.start-price-font{
  font-weight: bold;
}

.current-price-font{
  color:hsl(137, 54%, 14%);
  font-weight: bold;
  font-size: 24px;
}

.buy-now-price-font{
  color:hsl(137, 54%, 14%);
  font-weight: bold;
  font-size: 18x;
}

.card-image{
  width: 100%;
  height: auto;
  max-height: 215px;
  border-radius: 15px;
}

@media (max-width: 768px) {
    .card {
      max-width: 300px;
    }
  }