hr {
  margin: 3.5rem .25rem;
  height: 1px;
  border: 0;
  background-color: #d3d3d3;
}

#input-page-body {
  max-width: 940px;
  padding: 2.5em 1em;
  border-radius: 0.5rem;
}

/* Chrome, Safari, Edge, Opera */
#input-page-body input::-webkit-outer-spin-button,
#input-page-body input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox  */
#input-page-body input[type='number'] {
  -moz-appearance: textfield;
}

.form-title {
  text-align: center;
  bold: 700;
}

.text-count {
  display: flex;
  color: #888;
  justify-content: end;
  font-size: 0.9rem;
  padding: 0.125rem 0.5rem;
}

.btn-method-active,
.btn-method-active:hover {
  background-color: #88a06b !important;
  border: 2px solid #88a06b !important;
}

.btn-method-inactive,
.btn-method-inactive:hover {
  background-color: #F1F5EC !important;
  border: 2px solid #9DB283 !important;
  color: #666 !important;
}

.btn-inline-group {
  display: flex;
  gap: 1em;
}

.justif-content-end {
  justify-content: end;
}

.submit-button,
.cancel-button {
  background-color: #F1F5EC;
  border: 2px solid #9DB283;
  color: black;
}

.submit-button:hover,
.cancel-button:hover {
  background-color: #88a06b;
  border: 2px solid #88a06b;
  color: white;
}

.textarea-no-resize {
  resize: none;
}