hr {
  margin: 3.5rem .25rem;
  height: 1px;
  border: 0;
  background-color: #d3d3d3;
}

#input-page-body {
  max-width: 940px;
  padding: 2.5em 1em;
  border-radius: 0.5rem;

  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox  */
  input[type='number'] {
    -moz-appearance: textfield;
  }
}

.btn-inline-group {
  display: flex;
  gap: 1em;
}

.justif-content-end {
  justify-content: end;
}
.submit-button {
  background-color: #A7C77D; /* 버튼 배경색 */
  border-color: #9DB283; /* 버튼 테두리색 */
}

/* 버튼 호버 상태 */
.submit-button:hover {
  background-color: #88a06b; /* 호버시 좀 더 어두운 색 */
  border-color: #88a06b;
}
.cancel-button:hover {
  background-color: #88a06b; /* 호버시 좀 더 어두운 색 */
  border-color: #88a06b;
}
.activeToggleButton {
  background-color: #88a06b !important;
}
.textarea-no-resize {
  resize: none;
}