.img{
    width: 100%;
}


.my_border{
    border:none;
    display:inline-block;
    margin:1%;
}



@media screen and (max-width: 850px)
 {
    .mycard{
        flex:45%;
        flex-shrink:0.5;
    }
}
@media screen and (max-width: 450px)
 {
    .mycard{
       min-width: 300px;
    }
}

.cards{
    display:flex;
    align-items: center;
    margin-top: 0%;
    justify-content:space-between;

    /* text-align: center; */

}

.decokill{
    text-decoration: none;
    color: black;
}

.menu{
    border: none;
    padding: 0%;

}