.headPicture{
    
    width: 95%;
    height: auto;
}
.teduri{
    padding: 5%;
    height:700px;
    margin-top:10px;
}
.teduri2{
    padding: 5%;
    height:300px;
    margin-top:10px;
}
.img {
  width: 90%;
  display: block;
  margin: 0 auto; /* 상하 마진은 0, 좌우 마진은 자동으로 설정 */
}
@keyframes fade {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  .fadeIn {
    animation: fade 0.5s ease;
  }