.button{
    border: none;
    padding: 10px;
    background-color: transparent;
    color: inherit;
    border-color: inherit;

}
.img{
    
    background-color :white;
    color:white;
    border-color: white;
}
.logoImg{
    width: 120px;
    height: auto;  /* 높이는 자동으로 조절되어 원본 비율을 유지 */
}
.paragraph{
    font-weight: bold;
    font-size: 14px;
    padding: 15px;
    margin-bottom: 0px;

}
.input{
    margin-top: 10px;
    background-color:rgb(248,249,250);
    color:rgb(248,249,250);
    border-color: rgb(248,249,250);
    margin-right: 0px;
    width: 550px!important;
}
.a{
    text-decoration: none;
    color: inherit;
}
.dbg{
    width: 20px;
    height: 20px;
    border: none;
    background-color :transparent;
    color:white;
    border-color: white;
    position: relative; 
    left: -35px;
    margin-top: 5px;
    z-index: 9999;
    }
    
.dropdown{
    left: -50%!important;
    position: relative;
}

@media screen and (max-width: 1455px) {
    .input{
        margin-right: 0px;
        width: 300px!important;
    }
}
@media screen and (max-width: 1250px) {
    .input{
        margin-top: 10px;
        margin-right: 0px;
        width: 150px!important;
    }
}
@media screen and (max-width: 1170px)
 {
    .input{
            margin-top: 10px;
            margin-right: 0px;
            width: 100px!important;
        }
    .paragraph{
        font-weight: bold;
        font-size: 14px;
        padding: 5px;
        margin-bottom: 0px;
    }

}
@media screen and (max-width:950px)
 {
    .input{
            width: 50%;
            max-width: 70px; /* 최대 너비 설정 */
            margin-top: 10px;
            margin-right: 0px;
            /* width: 70px!important; */
        }
    .paragraph{
        font-weight: bold;
        min-width: 60px;
        font-size: 12px;
        width: 30px;
    }
    .logoImg{
        width: 40px!important;
        height: 30px!important;
        margin-right: 0px;
    }

    .img{
        width: 20px;
        height: 30px;
    }
    .leftandblock {
        padding-right: 0;
        padding-left: 0;
        width: 150%;
        margin:5px;
        display: block;
    }
    .zeromargin{
        margin-left: 0px!important;
        margin-right:0px!important;
    }
    
}
@media screen and (max-width: 780px)
 {
    
    .paragraph{
        width: 45px!important;
        min-width: 20px;
        font-size: 8px;
    }
}
@media screen and (max-width: 625px)
 {
    
    .paragraph{
        width: 30px!important;
        margin: 0px;
        font-size: 5px;
    }
    
}
@media screen and (max-width: 720px)
 {
    .padding{
        padding:15px!important;
    }
  
}

@media screen and (max-width: 475px)
 {
    .padding{
        padding:0px!important;
    }
}


