.container {
  max-width: 13rem; /* xs size */
  margin: auto;
  background: white;
}

.header {
  padding: 1rem;
  background-color: #d1e4b8;
  display: 7rem;
  align-items: center;
  justify-content: center;
  border-radius: 0.8rem; /* rounded-t-lg */
  margin-bottom: 2.5rem;
}

.currentPriceTitle {
  margin-right: 2rem;
  font-weight: bold;
  font-size: 1.25rem; /* text-xl */
  color: black;
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #e1e1e1;
  border-radius: 0.625rem; /* 10px */
  margin-bottom: 1.25rem; /* 20px */
  flex-wrap: wrap; /* 줄바꿈 허용 */
}
.container {
  /* 기존 스타일 유지 */
  position: relative; /* 부모 컨테이너에 상대적 위치 지정 */
}

.rotate {
  position: absolute; /* 절대 위치 지정 */
  right: 0; /* 오른쪽에 배치 */
  margin-right: 0.5rem;
  height: 1.5rem; /* 높이 1.5rem 지정 */
}

@media (max-width: 570px) {

  .currentPriceTitle {
    margin-right: 0rem;
    font-weight: bold;
    font-size: 0.6rem; /* text-xl */
    color: black;
  }  
  .currentPrice{
    font-size: 0.7rem; /* text-xl */
  }
  .itemName{
    font-size: 0.7rem; /* text-xl */
  }
  .itemPrice{
    font-size: 0.7rem; /* text-xl */
  }
  .item{
    padding: 0.5rem;
    margin-bottom: 1rem;
  }

}
