.container {
    max-width: 13rem; /* xs size */
    margin: auto;
    background: white;
  }
  
  .header {
    padding: 1rem;
    background-color: #D1E4B8;
    display: 7rem;
    align-items: center;
    justify-content: center;
    border-radius: 1.5.rem; /* rounded-t-lg */
    margin-bottom: 2.5rem;
  }
  
  .current-price-title {
    font-weight: bold;
    font-size: 1.25rem; /* text-xl */
    color: black;
  }
  
  .current-price {
    font-weight: bold;
    font-size: 1.875rem; /* text-3xl */
    color: #3E5E45;
    margin-left: 0.5rem;
  }
  
  .item-list {
    background: none;
    divide-y: 2px solid #E2E8F0; /* divide-gray-100 */
  }
  
  .item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #E1E1E1;
    border-radius: 0.625rem; /* 10px */
    margin-bottom: 1.25rem; /* 20px */
  }
  
  .item-name {
    font-weight: semibold;
    align-items: left;
    font-size: 1.125rem; /* text-lg */
    color: #5C5C5C;
  }
  
  .item-price {
    flex: 1;
    text-align: center;
    font-weight: semibold;
    font-size: 1.125rem; /* text-lg */
    color: #315713;
  }
  