.container {
  display: flex;
  flex-wrap: wrap; /* 자식 요소들이 넘치면 다음 줄로 넘어가도록 합니다 */
  max-width: 1100px;
  margin: auto;
  padding: 1rem;
  height: 640px; /* 기존 높이에서 5px 늘림 */
}

.carousel {
  display: flex;
  flex: none;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-left: 1rem;
}

.carouselControlPrev,
.carouselControlNext {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 10;
  width: 44px; /* 화살표 이미지의 크기에 맞게 조정 */
  height: 44px; /* 화살표 이미지의 크기에 맞게 조정 */
}

.productDetails {
  flex-grow: 1;
  margin-left: 5rem;
  position: relative;
}

.heart {
  transition: filter 10s ease; /* 색상 필터 변경에 대한 부드러운 트랜지션 */
  cursor: pointer; /* 마우스 포인터를 손가락 모양으로 변경 */
  position: absolute;
  top: 5%;
  left: 80%;
  transform: translate(-50%, 0);
  margin-top: -10px;
  width: 40px;
  height: auto;
}

.productTitle {
  font-size: 1.875rem; /* text-3xl */
  font-weight: semibold;
  margin-bottom: 0.5rem;
}

.productImg {
  transition: opacity 0.3s ease-in-out; /* 부드러운 페이드 효과를 위한 설정 */
  width: 29rem; /* 이미지의 너비 설정 */
  height: 26rem; /* 높이는 비율에 맞게 자동으로 설정 */
  border-radius: 20px; /* 이미지 모서리를 둥글게 */
  object-fit: cover; /* 이미지 비율을 유지하면서 잘리게 설정 */
}

.category {
  color: #4a5568; /* text-gray-700 */
  margin-bottom: 1rem;
}

.timeRemaining {
  background-color: rgb(205, 226, 179);
  display: flex;
  border-radius: 10px;
  color: black; /* text-gray-700 */
  justify-content: center;
  align-items: center;
  font-family: "font2";
  font-size: 2rem;
  height: 2.3em;
}

.biddingDetails {
  padding: 1.5rem;
  width: 29rem;
  height: 18rem;
  border-radius: 10px;
  background-color: hsl(87, 31%, 94%);
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  width: 100%;
}

.buttonContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bidButton {
  background-color: hsla(86, 24%, 49%, 0.78);
  padding: 0.7rem 1.2rem;
  border-radius: 0.375rem; /* rounded */
  margin-top: 1.8rem;
  transition: background-color 0.3s;
  border: none;
  font-size: 1.3rem;
  font-weight: 600;
}

.bidButton:hover,
.bidButton:focus {
  background-color: hsla(86, 24%, 49%, 0.78);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* 반투명 검은색 배경 */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* 다른 요소들보다 상위에 위치 */
}

.closeicon {
  background-color: rgba(0, 0, 0, 0);
  width: 3rem;
  height: 3rem;
  border: none; /* 버튼의 테두리 제거 */
}

.popup {
  border-radius: 25px;
  background-color: white;
  padding: 20px;
  width: 50%; 
  height: 70; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0);
  overflow: auto;
}

.popupContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.carouselControlPrev img,
.carouselControlNext img {
  width: 70%;
  height: auto;
}

.carouselControlPrev {
  left: 10px;
}

.carouselControlNext {
  right: 10px;
}

.closeButtonContainer {
  display: flex;
  justify-content: flex-end;
  padding: 0;
}

.closeButtonContainer button {
  border: none;
  background: transparent;
}

.startPrice {
  color: grey;
  font-size: 17px;
}

.currentPrice {
  font-size: 25px;
  font-weight: bold;
  text-align: center;
}

.instantPrice {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

#productImage {
  position: relative;
  top: 27px;
}

@media (max-width: 1200px) {
  .popup {
    padding: 20px;
    width: 70%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0);
    overflow: auto;
  }
}

@media (max-width: 830px) {
  .popup {
    padding: 20px;
    width: 90%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0);
    overflow: auto;
  }
}

@media (max-width: 630px) {
  .popup {
    width: 100%;
    overflow: auto;
  }
}

@media (max-width: 1020px) {
  #productImage {
    position: relative;
    top: 0px;
  }
  .container {
    margin-bottom: 60%;
  }
}

@media (max-width: 815px) {
  .carousel {
    width: 100%;
    margin: 0 auto;
  }
}

@media (max-width: 615px) {
  .productImg {
    width: 20rem;
    height: auto;
  }
}

@media (max-width: 400px) {
  .timeRemaining {
    font-size: 1.2rem;
  }
  .startPrice {
    font-size: 0.8rem;
  }
  .currentPrice {
    font-size: 1.5rem;
  }
  .instantPrice {
    font-size: 1.2rem;
  }
  .productDetails {
    margin-left: 0rem;
  }
  .heart {
    left: 95%;
  }
  .bidButton {
    margin-top: 0rem;
  }
}
