.recommendItem {
    width: 15rem;
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    margin-right: 1rem;
  }
  
  .recommendItem__image {
    width: 100%;
    height: auto;
  }
  
  .recommendItem__details {
    text-align: center;
  }
  
  .recommendItem__title {
    margin: 0.5rem !important;
    font-size: 20px;
    font-weight: bold;
  }
  
  .recommendItem__price {
    margin: 0 !important;
    margin-bottom: 0.3rem !important;
    color: #555;
  }
  
  @media (max-width: 1055px) {
    .recommendItem {
      width: 23%; /* 화면 크기에 맞게 90%로 조정 */
      margin-right: 0; /* 여백을 없앰 */
    }
  
    .recommend__list {
      justify-content: center; /* 가운데 정렬 */
    }
  }
  